<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tugas_Akhir_PABD.Properties.Settings.TokoBukuConnectionString"
            connectionString="Data Source=LAPTOP-4S8UKI2A\RAFFIRENANDA;Initial Catalog=TokoBuku;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="Tugas_Akhir_PABD.Properties.Settings.TOKOBUKUBARUConnectionString"
            connectionString="Data Source=LAPTOP-4S8UKI2A\RAFFIRENANDA;Initial Catalog=TOKOBUKUBARU;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>